<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Documentazione Techminds</title>
    <meta name="author" content="Carlos Yllobre">

    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="style.css?">
    <link rel="shortcut icon" type ="image/png" href="logo_favicon.png">

</head>

<body>

    <div class="navbar clear nav-top">
        <div class="row content">
            <a href="#"><img class="logo" src="./logo.png"></a>
            <a class="right" href="https://github.com/techminds-unipd/docs"><i class="fa-brands fa-github"></i> GitHub</a>
            <a class="right" href="mailto:techminds.unipd@gmail.com" target="_blank"><i class="fas fa-paper-plane"></i>&nbsp;
                techminds.unipd@gmail.com</a>
        </div>
    </div>

    <div class="container clear">
        <div class="row wrapper">

            <div class="sidepanel">

                <a class="title" href="#rtb">Requirements and Technology baseline</a>
                <a class="section" href="#rtb-lettera">Lettera di presentazione</a>
                <a class="section" href="#rtb-documenti-esterni">Documenti esterni</a>
                <a class="section" href="#rtb-documenti-interni">Documenti interni</a>
                <a class="section" href="#rtb-verbali-esterni">Verbali esterni</a>
                <a class="section" href="#rtb-verbali-interni">Verbali interni</a>
                <div class="divider left"></div>

                <a class="title" href="#fase-di-candidatura">Fase di candidatura</a>

                <a class="section" href="#candidatura">Candidatura</a>
                <a class="section" href="#candidatura-verbali-esterni">Verbali esterni</a>
                <a class="section" href="#candidatura-verbali-interni">Verbali interni</a>
                <div class="divider left"></div>

                


            </div>

            <div class="right-col">
                <h1 id="rtb">Requirements and Technology Baseline</h1>
                <div class="divider"></div>
                <h2 id="rtb-lettera">Lettera di presentazione</h2>
                <ul>
                    {RTB/documenti_esterni/lettera}
                </ul>
                <h2 id="rtb-documenti-esterni">Documenti esterni</h2>
                <ul>
                    {RTB/documenti_esterni/analisi_requisiti::[1.2.0]}
                    {RTB/documenti_esterni/piano_progetto::[1.1.0]}
                    {RTB/documenti_esterni/piano_qualifica::[1.0.0]}
                </ul>
                <h2 id="rtb-documenti-interni">Documenti interni</h2>
                <ul>
                    {RTB/documenti_interni/glossario::[1.0.0]}
                    {RTB/documenti_interni/norme_progetto::[1.0.0]}
                </ul>
                <h2 id="rtb-verbali-esterni">Verbali esterni</h2>
                <ul>
                    {RTB/documenti_esterni/verbali}
                </ul>
                <h2 id="rtb-verbali-interni">Verbali interni</h2>
                <ul>
                    {RTB/documenti_interni/verbali}
                </ul>
                <h1 id="fase-di-candidatura">Fase di candidatura</h1>
                <div class="divider"></div>
                <h2 id="candidatura">Candidatura</h2>
                <ul>
                    {candidatura/documenti_esterni/presentazione_candidatura}
                </ul>
                <h2 id="candidatura-verbali-esterni">Verbali esterni</h2>
                <ul>
                    {candidatura/documenti_esterni/verbali}
                </ul>
                <h2 id="candidatura-verbali-interni">Verbali interni</h2>
                <ul>
                    {candidatura/documenti_interni/verbali}
                </ul>
            </div>
        </div>
    </div>
</body>

</html>
